# Bytecode
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Env & local data
!cred.env          # still ignore the *real* .env

# Data folder
# ignore everything under data except links.xlsx
data/*
!data/links.xlsx


# Build artifacts
build/
dist/
*.spec
